.global-temporary-wrapper {
    width:100%;
}

html {
    font-size:20px;
}

body {
    margin:0;
}

.main {
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
}

/*************************************HEADER*************************************/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f2f2;
    border-bottom: 0.09rem solid #eaeaea;
    padding: 0.55rem 1.35rem 0.35rem 2rem;
}

.logo1 {
    padding-top: 0.9rem;
    padding-right: 17px;
}


/*************************************SLIDER*************************************/

.slider-section-wrapper {
    width:100%;
}

.slider-wrapper {
    position:relative;
    width:100%;
}

/*.hello-text-wrapper {*/

    /*display:flex;*/
    /*flex-direction:column;*/
    /*padding:31px 122px 28px 0;*/
/*}*/

.hello-text-wrapper p {
    width:100%;
    margin:0;
    padding: 29px 0 30px;
    font-family: NarkisTamMFW, sans-serif;
    font-size: 32px;
    line-height: 37.83px;
    text-transform: uppercase;
    text-align: center;
    color: #033766;
}

.hello-text {
    max-width:443px;
    margin:0 auto;
}
.hello1{
    font-weight: 300;
}

.hello2 {
    font-weight:700;
}



/**/



.slider {
    width:100%;
    direction: ltr;
    display:flex;
    flex-direction: column;
}

/*SHADOWS FOREGROUND*/
.slider-image-wrapper {
    width:100%
}

.slider-background-left {
    position:absolute;
    z-index:5;
    left:0;
}
.slider-background-right {
    position:absolute;
    z-index:5;
}

/**/

.slider-item {
    text-align: center;
    position:relative;
}

img.slider-image{
    display: block;
    width: 100%;
    max-height: 474px;
}


.slide-description {
    width:100%;
    color:white;
    background-color:black;
    font-size:22px;
    font-weight:700;
    direction:rtl;
    position: absolute;
    top: 433px;
    padding: 9px 0 9px 8px;
}

.slide-promo {
    color:black;
    background-color: white;
    direction:rtl;
    font-size:28px;
    font-weight:700;
    padding: 22px 0 10px 11px;
    font-family: NarkisTamMFW, sans-serif;
}


/* Slider arrows */
button.slick-next, button.slick-next:hover, button.slick-next:active, button.slick-next:focus {
    position: absolute;
    top: 239px;
    right: 45px;
    width: 25px;
    height: 52px;
    z-index: 6;
    background-image: url(../img/next_button.png);
    background-size: 25px;
}

button.slick-prev, button.slick-prev:hover, button.slick-prev:active, button.slick-prev:focus {
    position: absolute;
    top: 239px;
    left: 46px;
    z-index: 6;
    width: 24px;
    height: 52px;
    background-image: url("../img/prev_button.png");
    background-size: 25px;
    background-position-x: right;
}

.slick-prev:before, .slick-next:before {
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
    content:'';
}

/* END: Slider arrows */
/*PAGINATION*/

.slick-dotted.slick-slider {
    margin:0;
}

.slick-dots {
    position:relative;
    bottom:0;
    padding: 8px 0 10px 288px;
    text-align: unset;
}

.slick-dots li {
    float:left;
    margin: 0 4px;
    padding-left: 2px;
}

.slick-dots li button:before{
    width: 17px;
    height: 16px;
    color: #b7b7b7;
    opacity: 1;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    top: 1px;
    left: 2px;
}

.slick-dots li.slick-active button:before{
    color: #707070;
    font-size: 24px;
    /*border: 3px solid #ffffff;*/
    opacity: 1;
}

.pagination {
    padding-bottom: 22px;
    direction:ltr;
    display:flex;
    justify-content:center;
}

/************************MODAL**********************/
.modal{
    width:720px;
    display:none;

}

.overlay {
    height:100vh;
    width:100%;
    background: #10151b;
    position:fixed;
    top:0;
    left:0;
    z-index:12;
    display:flex;
    justify-content: center;
}

.modal-content-wrapper {
    width:100%;
    position:absolute;
    top: 257px;
    left:0;
    z-index:13;
}

.close-modal-image {
    position: absolute;
    top: 0;
    left: 32px;
    cursor:pointer;
}

.modal-image {
width:100%;
    position:absolute;
    top:68px;
}

/*********************CONTACT FORM************************/

.contact-form {
    direction:rtl;
    position:relative;
}
/*HEADER*/
.contact-form-header{
    background-color: #f50e01;
    color: #ffffff;
}

.contact-form-header-content-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding: 19px 0 0 0;
}

.contact-form-header-text-wrapper {
    max-width:390px;
    max-height:104px;
    padding: 34px 0 0 6px;
}

.contact-form-header-text1 {
    font-family: NarkisTamMFW, serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form-header-text2,  .contact-form-header-text3{
    font-family: NarkisTamMFW, serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

/***************************CONTACT FORM CONTENT**************************/

.contact-form{
    background: #ff0f03;
    padding-bottom: 52px;
}

.global-contact-wrapper {
    position:relative;
    padding-right: 89px;
    max-width: 540px;
}

.fields-wrapper{
    list-style: none;
    padding: 26px 0 0 0;

    margin:0;
}

.fields-wrapper li{
    padding: 10px 0 33px 0;
    position: relative;
}

.fields-wrapper li:last-child {
    padding-top: 37px;
}

#alert-apartment-type {
    top: 107px;
}


.fields-wrapper input, .fields-wrapper select{
    max-width: 540px;
    width: 100%;
    height: 68px;
    direction: ltr;
    border: none;
}


.fields-wrapper select{
    padding: 5px 21px 0 0;
    height: 69px;
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 29px;
    font-weight: 500;
    text-transform: uppercase;
    background: url(../img/select_arrow.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 31px;
    background-position-y: 30px;
    direction: rtl;
}

.fields-wrapper select::-ms-expand{
    display:none;
}

.description {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.alert {
    color: #ffffff;
    font-family:NarkisTamMFW, serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 3px;
    display:none;
    position: absolute;
    top: 118px;
    right: 0;
}

.alert div {
    padding-right: 9px;
}

.alert img {
    width: 22px;
    height: 22px;
    padding-top: 3px;
    padding-right: 2px;
}

.phone-inputs-wrapper {
    display:flex;
    position: relative;
    padding-bottom: 70px;
}

.phone-inputs-wrapper input{
    border:none;
    direction: ltr;
    padding:0;
    outline:none;
    margin:0;
}

input#country-code {
    width: 101px;
    height: 70px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 440px;
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align:center;
}

input.separator {
    height: 70px;
    width: 30px;
    /*opacity: 0.8;*/
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding:0;
}

input.separator:disabled {
    background-color: white;
    color: white;
    padding: 0;
    position: absolute;
    top: 0;
    right: 411px;
}

input#phone{
    height: 70px;
    width: 412px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align:center;
}

input#phone:disabled{
    background:white;
    padding:0;
}

/**************CONTACT FORM FOOTER************************/
.contact-form-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.required-fields {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    align-self: flex-end;
}

.agreement-wrapper {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 37px;
    padding-bottom: 30px;
    position: relative;
}

.agreement-wrapper span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.agreement-wrapper div {
    width:100%;
    padding-right: 48px;
}

#agreement {
    width: 34px;
    height: 35px;
    position: absolute;
    top: 38px;
    right: -4px;
    background:#fff
}

.send-details{
    width: 540px;
    height: 71px;
    border-radius: 15px;
    background-color: #033766;
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    border: none;
}


/*************Contact form submitted block************************/

#form-submitted {
    flex-direction: row;
    justify-content: center;
    padding: 286px 0 377px 0;
    width: 100%;
    background-color: #ff0f03;
    font-family: NarkisTamMFW, serif;
    font-size: 46px;
    font-weight: 400;
    color: #ffffff;
    display: none;
    position: absolute;
    top: 228px;
    left: 0;
    z-index: 20;
    text-align: center;
}

.thanks {
    font-size: 112px;
    font-weight: 700;
    margin:0;
}

#form-submitted p {
    margin:0;
}

/**********************************COMMENTS SECTION**********************/
/******************************HEADER**************************/
.comments-header {
    color: #4b4b4b;
    font-family:NarkisTamMFW, serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 59px;
    padding-bottom: 15px;
}

.focus-text {
    color: #ff0f03;
}

.comments-header div {
    padding-right: 10px;
}

/******************************CONTENT**************************/
ul.comments-content{
    padding: 14px 72px 0 0;
}

ul.comments-content li {
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 72px 0 76px 0;
}

ul.comments-content li:after {
    content: "";
    background: #cccccc;
    position: absolute;
    bottom: 0;
    left: 7%;
    height: 1.5px;
    width: 97%;
}


ul.comments-content li:last-child:after {
    display:none;
}

ul.comments-content li:last-child {
    padding-bottom: 27px;
}

.user-photo {
    background: url(../img/avatar.png) no-repeat center;
    border-radius: 100px;
    width: 237px;
    height: 148px;
    background-position-x: -154px;
    background-position-y: -45px;
    padding-left: 2px;
}

.user-photo-padder {
    padding:0 4px;


}
.comment-text-wrapper {
    width: 87%;
    color: #053663;
    font-family: NarkisTamMFW, serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 31px;
    padding-left: 74px;
}
.author {
    font-weight:600;
    font-family: NarkisTamMFW, serif;
    font-size: 26px;

}

.brackets {
    padding-right: 21px;
    padding-left: 20px;
}

.comment-footer {
    float: left;
    padding-left: 22%;
    line-height: 26px;
}

.comment-footer-separator {
    padding-left: 3px;
}

.comment:after{
    content:"...";
    display:var(--display, none);
}

.ellipsis {
    position:absolute;
    top: 86.5%;
    right: 34.7%;
    width: 16%;
    color: #053663;
    font-family: NarkisTamMFW, serif;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    cursor:pointer;
    display:none;
    padding-left:20px;
    background:url(../img/close.png) no-repeat right ;
    background-position-x: 8px;
    background-position-y: 15px;
}

.closed {
    top: 83.5%;
    right: 34.7%;
    background:url(../img/open.png) no-repeat right;
    background-position-x: 6px;
    background-position-y: 14px;
}


.expiration-block {
    background:#001722;
    padding: 32px 0 36px 0;
}
.expiration-wrapper {
    display:flex;
    flex-direction:column;
    text-align:center;
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.privacy-policy , .privacy-policy:active, .privacy-policy:visited {
    text-decoration:underline;
    color: #ffffff;
}

#call {
    background:url(../img/call_icon.png) no-repeat right #033766;
    background-position-x: 544px;
    background-position-y: 40px;
    display:flex;
    justify-content:center;
    padding: 34px 12px 37px 0;
    cursor:pointer;
}

#call span {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}