html {
    font-size:20px;
}

body {
    margin:0;
}

.main {
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
}

/*************************************HEADER*************************************/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f2f2;
    border-bottom: 0.09rem solid #eaeaea;
    padding: 0.55rem 1.35rem 0.35rem 2rem;
}

.logo1 {
    padding-top: 0.9rem;
}


/*************************************SLIDER*************************************/

.slider-section-wrapper {
    width:100%;
}

.hello-text-wrapper {

    display:flex;
    flex-direction:column;
    background-color: slateblue;
    padding:31px 122px 28px 0;
}

.hello-text-wrapper p {
    width:100%;
    margin:0;
    font-family: NarkisTamMFW, sans-serif;
    font-size: 32px;
    line-height: 37.83px;
    text-transform: uppercase;
    text-align: center;
    color: #033766;
}

.hello-text {
    max-width:443px;
}
.hello1{
    font-weight: 300;
}

.hello2 {
    font-weight:700;
}

.slider {
    width:100%;
    direction: ltr;
    display:flex;
    flex-direction: column;


}

.slider-item {
    background: black;
    text-align: center;
}

.slide-description {
    color:white;
}

.slide-promo {
    color:black;
    background-color: white;
}
/* Slider arrows */
.slick-arrow {
    z-index: 9;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
/* END: Slider arrows */

.slick-dots {
    position:relative;
}

.slick-dots li button:before{
    width:17px;
    height:16px;
    color: #b7b7b7;
    opacity:1;
}

.slick-dots li.slick-active button:before{
    color: #707070;
    font-size:15px;
    border: 3px solid #ffffff;
    opacity: 1;
}




.pagination {
padding-bottom:50px;
}