.global-temporary-wrapper {
    width:720px;
}

html {
    font-size:20px;
}

body {
    margin:0;
}

.main {
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
}

/*************************************HEADER*************************************/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f2f2;
    border-bottom: 0.09rem solid #eaeaea;
    padding: 0.55rem 1.35rem 0.35rem 2rem;
}

.logo1 {
    padding-top: 0.9rem;
}


/*************************************SLIDER*************************************/

.slider-section-wrapper {
    width:100%;
}

.slider-wrapper {
    position:relative;
    width:100%;
}

.hello-text-wrapper {

    display:flex;
    flex-direction:column;
    padding:31px 122px 28px 0;
}

.hello-text-wrapper p {
    width:100%;
    margin:0;
    font-family: NarkisTamMFW, sans-serif;
    font-size: 32px;
    line-height: 37.83px;
    text-transform: uppercase;
    text-align: center;
    color: #033766;
}

.hello-text {
    max-width:443px;
}
.hello1{
    font-weight: 300;
}

.hello2 {
    font-weight:700;
}



/**/



.slider {
    width:100%;
    direction: ltr;
    display:flex;
    flex-direction: column;
}

/*SHADOWS FOREGROUND*/
.slider-image-wrapper {
    width:100%
}

.slider-background-left {
    position:absolute;
    z-index:5;
    left:0;
}
.slider-background-right {
    position:absolute;
    z-index:5;
}

/**/

.slider-item {
    text-align: center;
    position:relative;
}

/*.slider-image{*/
    /*transform-origin: 50% 0 0;*/
    /*transform: scale(1.16, 1.16);*/
/*}*/


.slide-description {
    width:100%;
    color:white;
    background-color:black;
    font-size:22px;
    font-weight:700;
    direction:rtl;
    position: absolute;
    top: 433px;
    padding: 9px 0 9px 8px;

}

.slide-promo {
    color:black;
    background-color: white;
    direction:rtl;
    font-size:28px;
    font-weight:700;
    padding: 22px 0 11px 15px;
    font-family: NarkisTamMFW, sans-serif;
}


/* Slider arrows */


button.slick-next, button.slick-next:hover, button.slick-next:active, button.slick-next:focus {
    position: absolute;
    top: 239px;
    right: 28px;
    width: 25px;
    height: 52px;
    z-index: 6;
    background-image: url("../img/next_button.png");
    background-size: 25px;
}
button.slick-prev, button.slick-prev:hover, button.slick-prev:active, button.slick-prev:focus {
    position: absolute;
    top: 239px;
    left: 46px;
    z-index: 6;
    width: 24px;
    height: 52px;
    background-image: url("../img/prev_button.png");
    background-size: 25px;
    background-position-x: right;
}
.slick-prev:before, .slick-next:before {
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
    content:'';
}
/* END: Slider arrows */
/*PAGINATION*/

.slick-dotted.slick-slider {
    margin:0;

}

.slick-dots {
    position:relative;
    bottom:0;
    padding: 8px 0 10px 288px;
    text-align: unset;
}

.slick-dots li {
    float:left;
    margin: 0 4px;
}


.slick-dots li button:before{
    width: 17px;
    height: 16px;
    color: #b7b7b7;
    opacity: 1;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    top: 1px;
    left: 2px;
}

.slick-dots li.slick-active button:before{
    color: #707070;
    font-size: 24px;
    /*border: 3px solid #ffffff;*/
    opacity: 1;
}

.pagination {
    padding-bottom: 22px;
    direction:ltr;
    display:flex;
    justify-content:center;
}

/************************MODAL**********************/
.modal{
    width:720px;
    display:none;

}

.overlay {
    height:100vh;
    width:100%;
    background: #10151b;
    position:fixed;
    top:0;
    left:0;
    z-index:12;
    display:flex;
    justify-content: center;
    /*align-items:center;*/
}

.modal-content-wrapper {
    width:100%;
    position:absolute;
    top: 257px;
    left:0;
    z-index:13;
}

.close-modal-image {
    position: absolute;
    top: 0;
    left: 32px;
    cursor:pointer;
}

.modal-image {
width:100%;
    position:absolute;
    top:68px;
}

/*********************CONTACT FORM************************/

.contact-form {
    direction:rtl;
}
/*HEADER*/
.contact-form-header{
    background-color: #f50e01;
    color: #ffffff;
}

.contact-form-header-content-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding: 19px 0 0 0;
}

.contact-form-header-text-wrapper {
    max-width:390px;
    max-height:104px;
    padding: 34px 0 0 6px;
}

.contact-form-header-text1 {
    font-family: NarkisTamMFW, serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form-header-text2,  .contact-form-header-text3{
    font-family: NarkisTamMFW, serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

/***************************CONTACT FORM CONTENT**************************/
.contact-form{
    background: #ff0f03;
}

.fields-wrapper{
    list-style: none;
    padding-top: 8px;
    padding-right: 88px;
}

.fields-wrapper li{
    padding: 10px 0 1px 0;
}

.fields-wrapper input, .fields-wrapper select{
    max-width: 537px;
    width: 100%;
    height: 65px;
    direction:ltr;
    border:none;
}


.fields-wrapper select{
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    background: url(../img/select_arrow.png) no-repeat right #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 27px;
    direction: rtl;
}

.fields-wrapper select::-ms-expand{
    display:none;
}

.description {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-right: 3px;
}

.alert {
    color: #ffffff;
    font-family:NarkisTamMFW, serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 3px;
    display:none;
    /*display:flex;*/
}

.alert div {
    padding-right: 9px;
}

.alert img {
    width: 22px;
    height: 22px;
    padding-top: 1px;
    padding-right: 2px;
}

.phone-inputs-wrapper {
    display:flex;
    position: relative;
    padding-bottom: 62px;
}

.phone-inputs-wrapper input{
    border:none;
    direction: ltr;
    padding:0;
    outline:none;
    margin:0;
}

input#country-code {
    width: 101px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 440px;
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}

input.separator {
    width: 30px;
    /*opacity: 0.8;*/
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 44px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding:0;
}

input.separator:disabled {
    background-color: white;
    color: white;
    padding: 0;
    position: absolute;
    top: 0;
    right: 411px;
}

input#phone{
    width: 412px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #4b4b4b;
    font-family: NarkisTamMFW, serif;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;

}

input#phone:disabled{
    background:white;
    padding:0;
}

/**************CONTACT FORM FOOTER************************/

.required-fields {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.agreement-wrapper {
    color: #ffffff;
    font-family: NarkisTamMFW, serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

.agreement-wrapper span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.agreement-wrapper div {
    width:100%;
    max-width:400px;
}
